<app-header></app-header>

<!-- <h2>Edit Inventory</h2> -->
<div class="wrap">
  <div class="floatleft">


<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title><strong>Update Reset Quantity</strong></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>Location No: {{inventory.locationNbr}}</p>
    <p>Material Id: {{inventory.materialId}}<p>
    <p>Reset Quantity- </p>
    <input type="number" id="resetQty" class="form-control" 
    placeholder="Reset Quantity" [(ngModel)]="inventory.resetQty" name="resetQty"/>  
  </mat-card-content>
  <mat-card-actions>
    <button type="button" (click)="update()" class="btn btn-primary"> Save </button>
  </mat-card-actions>
</mat-card>
</div>
<div class="floatright">
  <div class="centered">
    <img src="../../../assets/inventory.png" alt="Inventory icon">
 
  </div>
</div>
    <div style="clear: both;"></div>
</div>
<!-- <app-footer></app-footer> -->
