<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <h2>Welcome {{name}}</h2>

        <ul class="navbar-nav">
            <li><a routerLink="/user/search-location" class="nav-link">Search</a></li>
            <li><a routerLink="/user/orders" class="nav-link">My Orders</a></li>
            
            
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><img src="../../../assets/home.png" alt="home icon" (click)="home()" /> </li>

            <li><img src="../../../assets/logout.png" alt="logout icon" (click)="logOut()" /></li>
        </ul>

    </nav>

</header>
