<app-header></app-header>
<body>

<!-- <div class="container">
<button class="btn btn-success" type="submit" id="btn" (click)="getInventories()">View Inventory List</button>
</div> -->
<table class="table table-stripped">
    <thead>
        <tr class="table-danger">
            <th>Order Id</th>
            <th>Location No</th>
            <th>Material id</th>
            <th>Order Quantity</th> 
            <th >Order Status</th>
            <th>Order Date-Time</th>
            <th *ngIf="isAdmin()">Action</th>
        </tr>
    </thead>

    <tbody>
        <!-- <tr> -->
        <tr *ngFor="let order of orders">
            <td>{{order.orderId}}</td>
            <td>{{order.locationNbr}}</td>
            <td>{{order.materialId}}</td>
            <td>{{order.orderQty}}</td> 
            <td>{{order.orderStatus}} 
                <img src="../../../assets/completed.png" alt="completed icon" *ngIf="order.orderStatus==='Completed'"/>
                <img src="../../../assets/progress.png" alt="progress icon" *ngIf="order.orderStatus==='In Progress'"/>
                <img src="../../../assets/cancelled.png" alt="cancelled icon" *ngIf="order.orderStatus==='Cancelled'"/>
            </td>
            <td>{{order.orderDateTime}} </td>

            <td *ngIf="isAdmin()"><button  class="btn btn-info" (click)="updateOrder(order.orderId)">Update</button></td>
            <!-- <td><button  class="btn btn-danger" (click)="cancelOrder(order.orderId)">Cancel</button></td> -->
        </tr>
        <!-- [disabled]="order.orderStatus==='Cancelled' || order.orderStatus==='Completed'" -->
    </tbody>
</table>
</body>

<app-footer></app-footer>





