<html lang = "en">  
   <head>  
      <meta charset = "utf-8">  
      <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">  
            
      
   </head>  
   <body>  
<section class="h-100 bg-dark">  
  <div class="container py-5 h-100">  
    <div class="row d-flex justify-content-center align-items-center h-100">  
      <div class="col">  
        <div class="card card-registration my-4">  
          <div class="row g-0">  
            <div class="col-xl-6 d-none d-xl-block">  
                <img  
                src="../../../assets/mainlogo.png"  
                alt="Sample photo"  
                class="img-fluid"  />
                
            </div>  
            <div class="col-xl-6">  
              <div class="card-body p-md-5 text-black">  
                 
                <img src="../../../assets/pepsi-logo.jpg" alt="" height="150px" width="450px">

                <h3 class="mb-5 text-uppercase"> Registration form </h3> 
                <form #registrationform="ngForm" (ngSubmit)="register()">
                    <h2>{{msg}}</h2>
                    <div class="form-group">
                 
                <div class="form-outline mb-4">  
                  <input type="text" required id="name" class="form-control form-control-lg" 
                  placeholder="Name" [(ngModel)]="user.name" name="name"/>  
                  <!-- <label class="form-label" for="form3Example8">  </label>   -->
                </div>  
                  <div class="form-outline mb-4">  
                  <input type="number" required id="phn" class="form-control form-control-lg" 
                  placeholder="Phone Number" [(ngModel)]="user.phn" name="phn"/>  
                  <!-- <label class="form-label" for="form3Example8"> Phone Number </label>   -->
                </div>  
                  
                 
                <div class="form-outline mb-4">  
                  <input type="date" required id="dob" class="form-control form-control-lg" 
                  placeholder="Date of Birth" [(ngModel)]="user.dob" name="dob"/>  
                  <!-- <label class="form-label" for="form3Example9"> Date of Birth </label>   -->
                </div>  
                 
                <div class="form-outline mb-4">  
                  <input type="email" required id="email" class="form-control form-control-lg" 
                  placeholder="Email ID" [(ngModel)]="user.email" name="email"/>  
                  <!-- <label class="form-label" for="form3Example97"> Email ID </label>   -->
                </div>  

                <div class="form-outline mb-4">  
                    <input type="password" required id="pwd" class="form-control form-control-lg" 
                    placeholder="Password" [(ngModel)]="user.password" name="password">  
                    <!-- <label class="form-label" for="form3Example97"> Password </label>   -->
                  </div>  

                
                <div class="d-flex justify-content-end pt-3"> 
                    <a routerLink="/login" class="btn btn-info btn-lg" role="button">Already registered? Log In
                        
                    </a> 
                  <button type="reset" value="reset" class="btn btn-light btn-lg"> Reset all </button>  
                  <button type="button" [disabled]="registrationform.form.invalid" (click)="register()" class="btn btn-warning btn-lg ms-2"> Register </button>  
                </div>  
                </div>
                </form>
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</section>  
</body>  
</html>  