<app-header></app-header>

<h3 style="font-size: larger;text-align: center;font-weight: bolder;" class="mb-5 text-uppercase">    Add Inventory </h3>  
<div class="wrap">
  <div class="floatleft">
                <form #addform="ngForm" (ngSubmit)="add()">
                    <h2>{{errorMsg}}</h2>
                    <div class="form-group">
                 
                <!-- <div class="form-outline mb-4"> 
                  <p>Inventory Id</p> 
                  <input type="number" id="id" class="form-control form-control-lg" 
                  placeholder="Id" [(ngModel)]="inventory.id" name="id"/>  
                 
                </div>   -->
                  <div class="form-outline mb-4">
                    <p>Location No</p>   
                  <input type="number" id="locationNbr" class="form-control form-control-lg" 
                  placeholder="Location Number" [(ngModel)]="inventory.locationNbr" name="locationNbr"/>  
                  
                </div>  
                  
                 
                <div class="form-outline mb-4"> 
                  <p>Material Id</p>  
                  <input type="text" id="materialId" class="form-control form-control-lg" 
                  placeholder="Material Id" [(ngModel)]="inventory.materialId" name="materialId"/>  
                 
                </div>  
                 
                <div class="form-outline mb-4">  
                  <p>Reset Quantity</p> 
                  <input type="number" id="resetQty" class="form-control form-control-lg" 
                  placeholder="Reset Quantity" [(ngModel)]="inventory.resetQty" name="resetQty"/>  
                  
                </div> 

                <div> 
                   
                  <button type="reset" value="reset" class="btn btn-danger btn-lg"> Reset all </button>  
                  <button type="button" (click)="add()" class="btn btn-primary btn-lg ms-2" style="margin-left: 10px"> Add </button>  
                </div>  
                </div>
                </form>
</div>
<div class="floatright">
  <div class="centered">
    <img src="../../../assets/pepsi-header-logo.png" alt="" height="150px" width="450px"> 
 
  </div>
</div>
    <div style="clear: both;"></div>
</div>
<app-footer></app-footer>

            