<app-header-user></app-header-user>
<body>

<!-- <div class="container">
<button class="btn btn-success" type="submit" id="btn" (click)="getInventories()">View Inventory List</button>
</div> -->
<table class="table table-dark table-stripped">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            <th>Location No</th>
            <th>Material id</th>
            <th>Available Quantity</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <!-- <tr> -->
        <tr *ngFor="let inventory of inventories">
            <!-- <td>{{inventory.id}}</td> -->
            <td>{{inventory.locationNbr}}</td>
            <td>{{inventory.materialId}}</td>
            <td>{{inventory.resetQty - inventory.orderQty}}</td>
            <button  class="btn btn-info" (click)="placeOrder(inventory.id)">Place Order</button>
        </tr>
    </tbody>
</table>
</body>

<app-footer></app-footer>

<!-- <h2>  Welcome Admin</h2>
<br>
<button type="submit" class="btn btn-info btn-lg" (click)="logOut()">Log Out</button>  -->



