<app-header></app-header>

<!-- <h2>Update Order Status</h2>

<form (ngSubmit)="update()">
   
    <div class="form-group">
 

  <h4>Order Id: {{orderId}}</h4>
  <br>

  <p>Location No: {{order.locationNbr}}</p>
  <p>Material Id: {{order.materialId}}</p>
  <p>Order Quantity: {{order.orderQty}}</p>
  
  <label for="status">Order Status:</label>

  <select name="orderStatus" id="orderStatus" [(ngModel)]="order.orderStatus">


    <option *ngFor="let status of orderStatus" [ngValue]="status.name"> {{status.name}}</option>
   </select>


 
<div> 
   

  <button type="button" (click)="update()" class="btn btn-primary btn-lg ms-2" 
  *ngIf="order.orderStatus==='In Progress' || order.orderStatus==='Completed'" style="margin-left: 5px"> Save </button>  
  
  <button  class="btn btn-danger btn-lg ms-2" style="margin-left: 5px" 
    *ngIf="order.orderStatus==='Cancelled'"
    (click)="cancelOrder(order.orderId)">Cancel Order</button>
</div>  
</div>
</form> -->



<mat-card class="example-card">
  <mat-card-header style="margin: 0 auto;">
    
    <mat-card-title><strong>Update Order Status</strong></mat-card-title>
    <mat-card-subtitle><strong>Order Id: {{orderId}}</strong></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Location No: {{order.locationNbr}}</p>
    <p>Material Id: {{order.materialId}}</p>
    <p>Order Quantity: {{order.orderQty}}</p>
    
    <label for="status">Order Status:</label>
  
    <select name="orderStatus" id="orderStatus" [(ngModel)]="order.orderStatus">
  
  
      <option [disabled]="order.orderStatus==='Cancelled' || order.orderStatus==='Completed'" *ngFor="let status of orderStatus" [ngValue]="status.name"> {{status.name}}</option>
     </select>
  </mat-card-content>
  <mat-card-actions style="margin: 0 auto;">
    <button type="button" (click)="update()" class="btn btn-primary btn-lg ms-2" 
    *ngIf="order.orderStatus==='In Progress' || order.orderStatus==='Completed'" style="margin-left: 5px"> Save </button>  
    
    <button  class="btn btn-danger btn-lg ms-2" style="margin-left: 5px" 
      *ngIf="order.orderStatus==='Cancelled'"
      (click)="cancelOrder(order.orderId)">Cancel Order</button>
  </mat-card-actions>
</mat-card> 

<app-footer></app-footer>
